{% extends "blog/base.html" %}
{% load blog_extras %}
{% block title %}Blog | {{blog.title}}{% endblock %}
{% block content %}
    <article class="blog-post">
        {% if blog.hero_image %}
            <a href="{{blog.hero_image.image_url}}">
                <img class="img-fluid rounded" src="{{blog.hero_image.image_url}}"/>
            </a>
        {% endif %}
        <h2 class="mt-3">{{ blog.title }}</h2>
        <div class="mb-4">
            <div class="mt-1">
                {% if blog.publish_date %}
                <span class="me-3"><i class="fas fa-calendar"></i> {{ blog.publish_date|date:"l, d M Y"}}</span>
                {% else %}
                <span class="me-3"><i class="fas fa-calendar"></i> {{ blog.created_at|date:"l, d M Y"}}</span>
                {% endif %}
                <span><i class="fas fa-clock"></i> {% minutes_to_read blog.body %}</span>
            </div>
            <div class="mt-2">
                {% for tag in blog.tag.all %}
                <a href="{% url 'blog:tagged_posts' tag %}" class="text-decoration-none">
                    <span class="tag me-1" style="background-color:{{tag.color_code}}">{{tag.tag_name}}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="post-body">
            {{ blog.body | safe}}
        </div>
    </article>
{% endblock %}