{% extends "base.html" %}
{% load blog_extras %}
{% block title %}Blog | {{ blog.title }}{% endblock %}
{% block description %}{{ blog.short_desc|default:blog.title }}{% endblock %}
{% block metatags %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ blog.title }}">
<meta property="og:description" content="{{ blog.short_desc }}">
{% if blog.thumbnail %}
<meta property="og:image" content="{{ blog.thumbnail.orig_image_url }}">
<meta property="og:image:url" content="{{ blog.thumbnail.image_url }}">
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <article class="post">
        <a class="back-link" href="{% url 'blog:blog_home' %}">&larr; Back to blog</a>

        <h1>{{ blog.title }}</h1>

        <div class="post-meta">
            <span>{% if blog.publish_date %}{{ blog.publish_date|date:"d M Y" }}{% else %}{{ blog.created_at|date:"d M Y" }}{% endif %}</span>
            <span>&middot;</span>
            <span>{% minutes_to_read blog %}</span>
        </div>

        <ul class="tag-list">
            {% for tag in blog.tag.all %}
            <li>
                <a href="{% url 'blog:tagged_posts' tag %}" class="tag"{% if tag.color_code %} style="--tag: {{ tag.color_code }}"{% endif %}>{{ tag.tag_name }}</a>
            </li>
            {% endfor %}
        </ul>

        {% if blog.hero_image %}
        <img class="cover" src="{{ blog.hero_image.image_url }}" alt="{{ blog.title }}">
        {% endif %}

        <div class="post-body">
            {% render_body blog %}
        </div>

        <div class="post-author">
            <div class="avatar">SW</div>
            <div>
                <div class="name">{{ blog.author.get_full_name|default:blog.author.username }}</div>
                <div class="bio">Software engineer &mdash; backend systems and native Android.</div>
            </div>
        </div>
    </article>
</div>
{% endblock %}
