DJANGO_SECRET_KEY=your-secret-key-here

DB_NAME=salmanwahed_db
DB_USER=salmanwahed
DB_PASSWORD=your-db-password
DB_HOST=db
DB_PORT=5432

# Optional
CDN_URL=
USE_CDN=FALSE
WPM_READ=180
SENTRY_DSN=
SERVER_IP=
