<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Salman Wahed">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JW2JQTRJMP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JW2JQTRJMP');
    </script>

    {% block styles %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="mx-md-5 mx-2 px-md-5 wrapper">
            <header>
                    <nav class="navigation">
                        <div class="navigation-author">
                            <a class="navigation-avatar" href="/">
                                <img src="https://lh3.googleusercontent.com/a-/AOh14GhSrFiT8bHvBJxNXPyfO1rZmyHX1XcTyGyBNNqrUw=s288-p-rw-no"
                                    alt="Author photo">
                            </a>
                            <a class="name" href="/">Salman Wahed</a>
                        </div>
                        <input type="checkbox" id="checkbox_toggle">
                        <label class="hamburger float-right" for="checkbox_toggle"><i class="fas fa-bars"></i></label>
                        <ul class="menu">
                            <li class="menu-item">
                                <a class="menu-link" href="{% url 'blog:blog_home'%}">Blog</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="{% url 'portfolio:portfolio_view' %}">Projects</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="{% url 'blog:about' %}">About</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            <main>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
            <footer>
                    <div class="footer">
                        <div class="d-flex justify-content-center">
                            Crafted with ❤️ in Bangladesh. · © 2022
                        </div>
                        <ul class="d-flex justify-content-center">
                            <li>
                                <a href="https://github.com/salmanwahed/" aria-label="Github">
                                    <i class="fab fa-github" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/salman_wahed/" aria-label="Twitter">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'portfolio/js/script.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>