<!doctype html>
{% load static %}
{% load compress %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Salman Wahed">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#607D8B">
    {% block metatags %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}" type="text/css">
    {% block styles %}{% endblock %}
    {% endcompress %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JW2JQTRJMP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JW2JQTRJMP');
    </script>
    <!--  Google AdSense  -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1630618045022866"
     crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="mx-md-5 mx-2 px-md-5 wrapper">
            <header>
                    <nav class="navigation">
                        <div class="navigation-author">
                            <a class="navigation-avatar" href="/">
                                <img src="{% static 'logo.png' %}" alt="Site Logo">
                            </a>
                            <a class="name" href="/">Salman Wahed</a>
                        </div>
                        <input type="checkbox" id="checkbox_toggle">
                        <label class="hamburger float-right" for="checkbox_toggle"><i class="fas fa-bars"></i></label>
                        <ul class="menu">
                            <li class="menu-item">
                                <a class="menu-link" href="{% url 'blog:blog_home'%}">Blog</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="{% url 'portfolio:portfolio_view' %}">Projects</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="{% url 'blog:about' %}">About</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            <main>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
            <footer>
                    <div class="footer">
                        <div class="d-flex justify-content-center">
                            Crafted with ❤️ in Bangladesh. · © {% now "Y" %}
                        </div>
                        <ul class="d-flex justify-content-center">
                            <li>
                                <a href="https://github.com/salmanwahed/" aria-label="Github">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://stackoverflow.com/users/1113211/salmanwahed" aria-label="Stackoverflow">
                                    <i class="fa-brands fa-stack-overflow" area-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/salmanwahed" aria-label="Linkedin">
                                    <i class="fa-brands fa-linkedin" area-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/salman_wahed/" aria-label="Twitter">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    {% compress js preload %}
    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/static/sw.js')
              .then(registration => {
                console.log('Service Worker registered:', registration);
              })
              .catch(error => {
                console.log('Service Worker registration failed:', error);
              });
          });
        }
    </script>
    {% block scripts %}
    {% endblock %}
    {% endcompress %}
    <script type="text/javascript"> //<![CDATA[
      var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
      document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    //]]></script>
    <script language="JavaScript" type="text/javascript">
      TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_lg_222x54.png", "POSDV", "none");
    </script>
</body>
</html>