{% extends "portfolio/base.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<h1 class="title">Apps</h1>
<div class="row">
    {% for project in object_list %}
    <div class="col-lg-6 row mb-4 mb-md-2">
        <a class="col-4"
            href="{{project.utm_url}}">
            <img class="img-thumbnail" src="{{project.thumbnail.image_url}}" />
        </a>
        <div class="col-8 d-flex flex-column ps-md-2 ps-1">
            <a href="{{project.utm_url}}">
                <h5>{{project.name}}</h5>
            </a>
            <p>{{project.short_description}}</p>
            <div class="tags">
                {% for tag in project.tag.all %}
                <span class="badge rounded-pill text-white" style="background-color:{{tag.color_code}}">{{tag.tag_name}}</span>
                {% endfor %}
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}