{% extends "blog/base.html" %}
{% block title %}Salman Wahed | About{% endblock %}
{% block content %}
<h2>About</h2>
<div class="row mt-1">
    <div class="col-md-8 order-2 order-md-1">
        <p>Hello, I am a software engineer. I've graduated from Shahjalal University of Science and Technology with a BSc (Engg.) in Computer
            Science & Engineering. I've been working in the Bangladeshi software industry for over 8 years.</p>
        <p>Besides building software and apps, my hobbies includes swimming, cycling and solving problems. Ping me if you have an awesome idea and want
            to build something or just want to discuss a sci-fi movie that you have watched!</p>
    </div>
    <div class="col-md-4 order-1 order-md-2 mb-2">
        <img class="img-fluid float-right w-100 rounded" src="https://lh3.googleusercontent.com/a-/AOh14GhSrFiT8bHvBJxNXPyfO1rZmyHX1XcTyGyBNNqrUw=s288-p-rw-no"
                                    alt="Salman Wahed">
    </div>

</div>
{% endblock %}
