{% extends "blog/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>About</h2>
<div class="row mt-1">
    <div class="col-md-8 order-2 order-md-1">
        <p>Salman Wahed is a Software Engineer. He graduated from Shahjalal University of in 2007 with a BS in Computer
            Science. He has worked as a software engineer at Microsoft and Google and as a security engineer at NCC Group.</p>
        <p>Michael is available for weddings, bar/bat mitzvahs, and other events that are likely to include chocolate covered
            strawberries.</p>
    </div>
    <div class="col-md-4 order-1 order-md-2 mb-2">
        <img class="img-fluid float-right w-100 rounded" src="https://lh3.googleusercontent.com/a-/AOh14GhSrFiT8bHvBJxNXPyfO1rZmyHX1XcTyGyBNNqrUw=s288-p-rw-no"
                                    alt="Author photo">
    </div>

</div>
{% endblock %}
