@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&family=Roboto+Mono:wght@300;400;500&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #212121;
  background-color: #fafafa;
}

h2,
h3,
h4,
h5,
hr {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}


main {
  flex: auto;
}

article {
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

a:hover {
  color: #448AFF !important;
}

pre {
  font-family: "Roboto Mono", monospace;
  font-size: .9rem;
  font-weight: 400;
  background-color: #FFFFFF;
  padding: 0.5rem 1rem;
  border: 1px solid #EAEAEA;
  border-radius: 0.3rem
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wip {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  font-family: "Lato", sans-serif;
  color: #ccc;
  font-weight: 400;
}

.tag-list {
  display: inline;
}

.tag {
  border-radius: 50rem !important;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  padding: .1rem 0.5rem .2rem 0.5rem;
  font-size: .9rem;
  color: black;
}

.tag:hover {
    color: whitesmoke;
    font-size: .95rem;
}

.date {
  font-size: .9rem;
  fon-weight: 400;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  width: 100%;
}

.navigation a,
.navigation span {
  display: inline;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 6rem;
  color: #212121;
}

.navigation-author {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.navigation-author .name {
  margin-left: 1rem;
  font-size: 1.8em;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.navigation-avatar {
  display: inline-block !important;
  max-width: 50px;
  max-height: 50px;
}

.navigation-avatar img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 30%;
}

.navigation ul {
  margin-top: 0;
  margin-bottom: 0;
}

.menu {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

.menu .menu-item {
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu .menu-item a,
.menu .menu-item span {
  margin-left: 1rem;
  margin-right: 1rem;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 992px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 6rem;
    text-align: center;
    background-color: #fff;
    padding: 0;
  }
  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }

  .menu-item {
    border-bottom: 1px solid #f9f9f9;
    padding-left: 0;
  }

  .navigation a,
  .navigation span {
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 4rem;
    color: #212121;
  }
}

.list ul li .date {
  text-align: left;
  margin: 0;
}

.list img {
  object-fit: contain;
}

.posts-list {
  margin: 0 0 2rem 0;
  padding: 0;
}

.posts-list li {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2rem 0 2rem 0 !important;
  border-bottom: 1px solid rgba(177, 177, 177, 0.623);
}

.posts-list .title {
  font-size: 1.25rem;
  color: #212121;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}

.posts-list li h2 {
  margin: 0rem 0 0.2rem 0 !important;
  line-height: 1.7rem;
}

@media screen and (min-width: 768px) {
  .posts-list li {
    flex-direction: row;
    padding-bottom: 2rem !important;
  }
}

.posts-list .img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .posts-list .img-wrapper {
    display: block;
    margin-right: 2.5rem;
    min-width: 14rem;
    max-width: 14rem;
  }
}

.posts-list li img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .posts-list li img {
    max-height: 200px;
  }
}

.retrospective .finances-chart {
  margin-bottom: 5rem;
}

.book-reports-list li {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .book-reports-list li {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .book-reports-list li .summary {
    display: flex;
    flex-direction: row;
  }
}

.book-reports-list li .title {
  font-size: 1.1em !important;
  text-decoration: none;
}

.book-reports-list .img-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .book-reports-list .img-wrapper {
    justify-content: flex-start;
    margin-right: 2.5rem;
    min-width: 260px;
    max-width: 260px;
  }
}

.book-reports-list .full-review-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  background-color: rgb(225, 255, 208);
  border: 1px solid rgb(119, 197, 119);
  padding: 1rem 2rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .book-reports-list .full-review-link {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .book-report .book-cover {
    max-width: 300px;
    padding-right: 1rem;
    margin: 0 3rem 0 0 !important;
  }
}

.twitter-tweet {
  margin: 0 auto;
}

.footer {
  margin: 3rem 0 1rem;
  padding: 0;
  font-size: 1rem;
}

.footer ul {
  list-style: none;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.footer ul li {
  display: inline-block;
  position: relative;
}

.fa-twitter:hover {
  color: #2497EA;
}

.fa-linkedin:hover {
  color: #1566C2;
}

.fa-github:hover {
  color: #7DBBE6;
}

.fa-stack-overflow:hover {
    color: #F49111
}


.footer ul li a {
  color: #212121;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
}

.retrospective .prev-next-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}

.retrospective .prev-next-links a {
  background-color: #d6d6d6;
  color: black;
  padding: 0.5rem 2rem;
  border: 1px solid #666;
  border-radius: 4px;
}

.retrospective .prev-next-links a:hover {
  background-color: #ccc;
  color: black;
  text-decoration: none;
}

.post-body img {
    max-width: 75%;
    height: auto;
}

.gist tbody, td, tfoot, th, thead, tr {
    border-style:none !important;
}